:root {
  --header-text-color: #212121;
  --fitst-btn-color: #212121;
  --second-btn-color: #ffffff;
  --first-title-color: #212121;
  --second-title-color: #2196f3;
  --three-title-color: #ffffff;
  --first-text-color: #757575;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --three-background-color: #f5f4fa;
  --background-btn-color: #2196f3;
  --background-btn-hero: #188ce8;
  --logo-part-color: #000000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--first-title-color);
  background-color: var(--main-background-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-part {
  color: var(--logo-part-color);
}

.header-list {
  display: flex;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-link {
  color: var(--first-title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}

.header-list {
  display: flex;
}

.header-connect {
  display: flex;
  margin-left: auto;
}

.header-contact + .header-contact {
  margin-left: 50px;
}

.header-contact-link {
  color: var(--first-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* HERO */
.hero {
  background-color: var(--second-background-color);
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--three-title-color);
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-btn-color);
  cursor: pointer;
  background-color: var(--background-btn-color);
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--background-btn-hero);
}

/* FEATURES */

.features-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-item + .features-item {
  margin-left: 30px;
}

.features-item {
  width: 270px;
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 10px;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/* WORK */

.work-container {
  padding-bottom: 94px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-item + .work-item {
  margin-left: 30px;
}

/* TEAM */

.team {
  background-color: var(--three-background-color);
}

.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item + .team-item {
  margin-left: 30px;
}

.team-item {
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.information {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/* FOOTER */

.footer {
  background-color: var(--second-background-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.logo-part-footer {
  color: var(--three-title-color);
}

.footer-item {
  display: block;
  margin-bottom: 9px;
}

.footer-adress,
.footer-contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-adress {
  color: var(--three-title-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress:hover,
.footer-adress:focus,
.footer-contact:focus,
.footer-contact:hover {
  color: var(--accent-color);
}

/*-------------PORTFOLIO-------------- */

/* FILTERS */

.filters-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item {
  margin-left: 8px;
}

.filters-btn {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fitst-btn-color);
  background-color: var(--three-background-color);
  cursor: pointer;
  padding: 6px 22px;
}

.filters-btn:hover,
.filters-btn:focus {
  color: var(--second-btn-color);
  background-color: var(--accent-color);
}

.current-btn {
  color: var(--second-btn-color);
  background-color: var(--background-btn-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  background-color: var(--main-background-color);
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: 0;
  padding: 20px 24px;
}

.portfolio-after-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
